<div class="mysoc-footer" role="contentinfo">
    <div class="container">
        <div class="row">

            <div class="column-five-twelfths">
                <h2 class="mysoc-footer__site-name">EveryPolitician</h2>
                <div class="mysoc-footer__site-description">
                    <p>A simple but ambitious project to collect and share data about every politician in every country in the world, in a consistent, open format that anyone can use.</p>
                </div>
            </div>

            <div class="column-one-third">
                <nav class="mysoc-footer__links">
                    <ul>
                        <li role="presentation"><a href="http://everypolitician.org/">Home</a></li>
                        <li role="presentation"><a href="http://everypolitician.org/countries">Data</a></li>
                        <li role="presentation"><a href="http://docs.everypolitician.org/">About</a></li>
                    </ul>
                    <ul>
                        <li role="presentation"><a href="http://docs.everypolitician.org/contribute.html">Contribute data</a></li>
                        <li role="presentation"><a href="http://docs.everypolitician.org/use_the_data.html">For developers</a></li>
                        <li role="presentation"><a href="http://docs.everypolitician.org/bot.html">Bot &amp; blog</a></li>
                    </ul>
                </nav>
            </div>

            <div class="column-one-quarter">
                <div class="mysoc-footer__donate">
                    <p>Your donations keep this site and others like it running</p>
                    <a href="https://www.mysociety.org/donate?utm_source=everypolitician.org&utm_content=donate+now&utm_medium=link&utm_campaign=mysoc_footer" class="mysoc-footer__donate__button">Donate now</a>
                </div>
            </div>

        </div>
        <hr class="mysoc-footer__divider" role="presentation">
        <div class="row">

            <div class="column-five-twelfths">
                <div class="mysoc-footer__orgs">
                    <p class="mysoc-footer__org">
                        Built by
                        <a href="https://www.mysociety.org?utm_source=everypolitician.org&utm_content=logo&utm_medium=link&utm_campaign=mysoc_footer" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">mySociety</a>
                    </p>
                </div>
            </div>

            <div class="column-one-third">
                <div class="mysoc-footer__legal">
                    <p>mySociety Limited is a project of UK Citizens Online Democracy, a registered charity in England and Wales. For full details visit <a href="https://www.mysociety.org?utm_source=everypolitician.org&utm_content=full+logo+details&utm_medium=link&utm_campaign=mysoc_footer">mysociety.org</a>.</p>
                </div>
            </div>

            <div class="column-one-quarter">
                <ul class="mysoc-footer__badges">
                    <li role="presentation"><a href="https://github.com/everypolitician" class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
                    <li role="presentation"><a href="https://twitter.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--twitter">Twitter</a></li>
                    <li role="presentation"><a href="https://www.facebook.com/mySociety" class="mysoc-footer__badge mysoc-footer__badge--facebook">Facebook</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
