<footer class="site-footer ms-footer">
  <div class="container">
    <div class="column-five-twelfths">
      <div class="footer__about">
        <h2 class="ms-footer__logo"><a href="http://www.mysociety.org">mySociety</a></h2>
        <p>EveryPolitician is another democracy-boosting project from mySociety and Poplus.</p>
        <p>You might also enjoy <a href="http://mapit.poplus.org/">MapIt</a>, for matching geographic points to administrative areas, and <a href="http://sayit.poplus.org/">SayIt</a>, a beautiful interface for organising, reading, and searching speeches and debates.</p>
      </div>
    </div>
    <div class="column-seven-twelfths">
    </div>
  </div>
</footer>
