<header class="site-header">
  <div class="container">
    <div class="site-header__logo">
      <h2>

        <a href="http://everypolitician.org/"><span class="header-logo">{{ site.title }}</span></a>

      </h2>
    </div>
    <div class="site-header__navigation site-header__navigation--secondary">
      <nav role="navigation">
        <a href="http://everypolitician.org/countries.html">Data</a>
        <a href="{{ site.baseurl }}/">Documentation</a>
      </nav>
    </div>
  </div>
</header>
